<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" type="image/png" href="/icon.png">
        <meta charset="utf-8" />
        <title>Classement des meilleurs</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/css/mikuia.css" />
        <link rel="stylesheet" href="/css/new.css" />
        <link rel="stylesheet" href="/css/cdb.css" />
        <link rel="stylesheet" href="/css/commands.css" />


        {{!-- <link rel="stylesheet" href="/css/app.5b042bf1.css" />
        <link rel="stylesheet" href="/css/app.async.a5441308.css" />
        <link rel="stylesheet" href="/css/recipe.4c3d3054.css" /> --}}

        <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700|Roboto:400,300,500|Hind+Vadodara:300,400,500&amp;subset=all" rel="stylesheet" type="text/css">
        
        <link rel="stylesheet" href="bootstrap-3.2.0-dist/css/bootstrap.css"> 
        <link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet">

        <script src="bootstrap-3.2.0-dist/js/jquery-1.10.2.js"></script> 
        <script src="bootstrap-3.2.0-dist/js/bootstrap.js"></script> 
    </head>

    <body>
        <nav class="navbar mikuia-navbar mikuia-navbar-extended">
        
        <div class="container">
            <div class="mikuia-navbar-content">
                <a><img src="/icon.png" width="100" height="100" class="mikuia-navbar-icon"></a>

                <div class="mikuia-navbar-lines-left">
                    <div class="mikuia-navbar-links">

                        <a href="https://twitch.tv/chatdesbois" target="_blank" style="line-height: 20px"><img src="/twitch.png" width="40" height="40" ></a>
                        <a href="https://www.youtube.com/user/Missclochette22/" target="_blank" style="line-height: 57px"><img src="/yt.png" width="40" height="40" ></a>
                        <a href="https://www.instagram.com/unejeune/" target="_blank" style="line-height: 57px"><img src="/ig.png" width="40" height="40" ></a>
                        <a href="https://twitter.com/Chatdesbois_" target="_blank" style="line-height: 57px"><img src="/twitter.png" width="40" height="40" ></a>
                        <br>

                        <a name="home"> Classements: </a>
                        {{#each dates}}
                        <a href="/{{this}}" name="home">{{this}}</a>
                        {{/each}} 
                        <br>

                        <div class="mikuia-navbar-title">
                            <a href="/global" name="home">Global</a>
                            <a href="/mensuel" name="home">Mensuel</a>
                            <br>
                            <a href="/commands" name="home">Commandes du stream</a>
                            <a name="home">Recettes (soon)</a>
                            <a href="/menu-du-jour" name="home">Menu du jour</a>
                        </div>
                        {{!-- <div>
                        </div> --}}
                    </div>
                </div>
            </div>
        </div>
        </nav> 
        <div style="background: url('/bg3.png'); " class="mikuia-navbar-background"></div>
    <br>
    {{{body}}}
    </body>

<div class="mikuia-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <small class="text-muted">lauriys <!--Laura Lynn--> largely made this.
                </small>
            </div>

            <div class="col-md-3 align-right">
                <small class="text-muted"><a href="http://mikuia.tv/about">About Mikuia</a>
                </small>
            </div>       

            <div class="col-md-3">
                <small class="text-muted">By Helios 2000 IQ. Énorme merci à l'arnaqueur aka L'iple aka le sang : TheIpple
                </small>
            </div>
            <div class="col-md-3 align-right">
                <small class="text-muted"><a href="https://reddit.com/r/cats">Cats</a>
                </small>
            </div>  
        </div>
    </div>
</div>

</html>