<div class="container">
    <div class="mikuia-page-padding">
        <div class="row animation-fade-in-down">
            <div class="col-md-12 mikuia-page-card">

<div 
{{!-- style="float: ;clear:right;" --}}
style="position:initial"
>
    <h1>GÂTEAU À LA BANANE 🥮</h1>
</div>

<div class="content-scroll">
   <section class="borderSection ingredients">
      <header class="borderSection_header">
         <h2 class="borderSection_title">Ingrédients</h2>
      </header>
      <br>
      <ul class="txt-dark-gray">
         <li><span>3 bananes (mûres)</span></li>
         <li><span>3 oeufs</span></li>
         <li><span>200g de farine</span></li>
         <li><span>60g de sucre</span></li>
         <li><span>50g de beurre</span></li>
         <li><span>Sucre vanillé/vanille en poudre</span></li>
         <li><span>1 sachet de levure</span></li>
      </ul>
   </section>
</div>


            </div>
        </div>
    </div>
</div>
