<div class="container">
    <div class="mikuia-page-padding">
        <div class="row animation-fade-in-down">
            <div class="col-md-12 mikuia-page-card">

<div 
{{!-- style="float: ;clear:right;" --}}
style="position:initial"
>
    <h1>ROULEAUX DE PRINTEMPS 🥗</h1>
</div>

<div class="content-scroll">
   <section class="borderSection ingredients">
      <header class="borderSection_header">
         <h2 class="borderSection_title">Ingrédients</h2>
      </header>
      <br>
      <ul class="txt-dark-gray">
         <li><span>1 carotte</span></li>
         <li><span>1 concombre</span></li>
         <li><span>Pousses soja</span></li>
         <li><span>Laitue</span></li>
         <li><span>Menthe</span></li>
         <li><span>Feuilles de riz</span></li>
         <li><span>Fermicelles de riz</span></li>
         <li><span>Sauce soja/pour rouleaux</span></li>
         <li><span>(1 avocat)</span></li>
         <li><span>(100g de poulet ou des crevettes)</span></li>
      </ul>
   </section>
</div>


            </div>
        </div>
    </div>
</div>
