<div class="container">
    <div class="mikuia-page-padding">
        <div class="row animation-fade-in-up">
            <div class="col-md-12 mikuia-page-card">
                <div class="col-md-12">
                    <h1 class="mikuia-page-header-text text-black">Menu du jour</h1> 
                    {{!-- <br> --}}
                </div>
                {{!-- <br> --}}
                <table>
                    <tbody>
                        {{!-- <tr>
                            <th>Commandes</th>
                            <th>Description</th>
                        </tr> --}}

                        <tr>
                            {{!-- <td><a href="/entree">Entrée</a></td> --}}
                            <td>Entrée</td>
                            <td><a href="/entree">🥗 Rouleaux de printemps au poulet </a></td>
                        </tr>


                        <tr>
                            <td>Plat</td>
                            <td><a href="/entree">🍜 Wok aux légumes et au boeuf</a></td>
                        </tr>

                        <tr>
                            <td>Dessert</td>
                            <td><a href="/entree">🍌 Gâteau à la banane </a></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>