<div class="container">
    <div class="mikuia-page-padding">
        <div class="row animation-fade-in-down">
            <div class="col-md-12 mikuia-page-card">

<div 
{{!-- style="float: ;clear:right;" --}}
style="position:initial"
>
    <h1>WOK AUX LÉGUMES ET AU BOEUF 🍜</h1>
</div>

<div class="content-scroll">
   <section class="borderSection ingredients">
      <header class="borderSection_header">
         <h2 class="borderSection_title">Ingrédients</h2>
      </header>
      <br>
      <ul class="txt-dark-gray">
         <li><span>1 oignon</span></li>
         <li><span>1 courgette</span></li>
         <li><span>1 carotte</span></li>
         <li><span>1 poivron</span></li>
         <li><span>Nouille de blé</span></li>
         <li><span>Sauce soja</span></li>
         <li><span>Cacahuètes</span></li>
         <li><span>100g de boeuf/personne</span></li>
      </ul>
   </section>
</div>


            </div>
        </div>
    </div>
</div>
