<div class="container">
    <div class="mikuia-page-padding">
        <div class="row animation-fade-in-down">
            <div class="col-md-12 mikuia-page-card">



<div class="view-content">
        <div class="views-row views-row-1 views-row-odd views-row-first">
    <article id="node-17672" class="node node-recipe node-recipe_teaser node-teaser node-regal-life clearfix" about="/recettes/plats/poulpe-poche-fenouil-a-la-grecque-17672" typeof="schema:Recipe">
    <div class="content">
                <div class="required-fields group-image field-group-html-element"><div class="field field-name-field-images field-type-image field-label-hidden">
        <div class="field-items">
                <div class="field-item even" rel="schema:image" resource="https://www.regal.fr/sites/art-de-vivre/files/styles/recipe_teaser/public/r95-poulpe-poche-fenouil-grec_ss.jpg?itok=oa7NMte1"><a href="/recettes/plats/poulpe-poche-fenouil-a-la-grecque-17672"><source srcset="https://www.regal.fr/sites/art-de-vivre/files/styles/recipe_teaser/public/r95-poulpe-poche-fenouil-grec_ss.jpg?itok=oa7NMte1" media="false">
          <img typeof="foaf:Image" src="https://i-reg.unimedias.fr/sites/art-de-vivre/files/styles/recipe_teaser/public/r95-poulpe-poche-fenouil-grec_ss.jpg?auto=compress%2Cformat&amp;crop=faces%2Cedges&amp;cs=srgb&amp;fit=crop&amp;h=268&amp;w=210" width="210" height="268" alt="Poulpe poché, fenouil à la grecque" title="Poulpe poché, fenouil à la grecque"></a><span class="credit">Crédit Photo : Amiel / Photocuisine</span></div>
            </div>
</div> </div><h2 class="node-title" itemprop="headline"><a href="/recettes/plats/poulpe-poche-fenouil-a-la-grecque-17672" class="node-url">Poulpe poché, fenouil à la grecque </a></h2><div class="field field-name-field-recipe-total field-type-number-integer field-label-inline clearfix">
        <div class="field-label">Total :&nbsp;</div>
        <div class="field-items">
                <div class="field-item even">240 min</div>
            </div>
</div> <span rel="schema:url" resource="/recettes/plats/poulpe-poche-fenouil-a-la-grecque-17672" class="rdf-meta element-hidden"></span><span property="schema:name" content="Poulpe poché, fenouil à la grecque " class="rdf-meta element-hidden"></span>        <span class="clearfix"></span>
    </div>
</article>
  </div>
  <div class="views-row views-row-2 views-row-even">
    <article id="node-17728" class="node node-recipe node-recipe_teaser node-teaser clearfix" about="/recettes/plats/tomates-farcies-17728" typeof="schema:Recipe">
    <div class="content">
                <div class="required-fields group-image field-group-html-element"><div class="field field-name-field-images field-type-image field-label-hidden">
        <div class="field-items">
                <div class="field-item even" rel="schema:image" resource="https://www.regal.fr/sites/art-de-vivre/files/styles/recipe_teaser/public/hs19-tomates-farcies_ss.jpg?itok=CK0P5BKB"><a href="/recettes/plats/tomates-farcies-17728"><source srcset="https://www.regal.fr/sites/art-de-vivre/files/styles/recipe_teaser/public/hs19-tomates-farcies_ss.jpg?itok=CK0P5BKB" media="false">
          <img typeof="foaf:Image" src="https://i-reg.unimedias.fr/sites/art-de-vivre/files/styles/recipe_teaser/public/hs19-tomates-farcies_ss.jpg?auto=compress%2Cformat&amp;crop=faces%2Cedges&amp;cs=srgb&amp;fit=crop&amp;h=268&amp;w=210" width="210" height="268" alt="Tomates farcies" title="Tomates farcies"></a><span class="credit">Crédit Photo : Thys / Photocuisine</span></div>
            </div>
</div> </div><h2 class="node-title" itemprop="headline"><a href="/recettes/plats/tomates-farcies-17728" class="node-url">Tomates farcies</a></h2><div class="field field-name-field-recipe-total field-type-number-integer field-label-inline clearfix">
        <div class="field-label">Total :&nbsp;</div>
        <div class="field-items">
                <div class="field-item even">85 min</div>
            </div>
</div> <span rel="schema:url" resource="/recettes/plats/tomates-farcies-17728" class="rdf-meta element-hidden"></span><span property="schema:name" content="Tomates farcies" class="rdf-meta element-hidden"></span>        <span class="clearfix"></span>
    </div>
</article>
  </div>
  <div class="views-row views-row-3 views-row-odd">
    <article id="node-17671" class="node node-recipe node-recipe_teaser node-teaser node-regal-life clearfix" about="/recettes/legumes/poivrons-farcis-au-riz-raisins-secs-et-feta-17671" typeof="schema:Recipe">
    <div class="content">
                <div class="required-fields group-image field-group-html-element"><div class="field field-name-field-images field-type-image field-label-hidden">
        <div class="field-items">
                <div class="field-item even" rel="schema:image" resource="https://www.regal.fr/sites/art-de-vivre/files/styles/recipe_teaser/public/r95-poivrons-farcis-riz-raisins-feta_ss.jpg?itok=sanh9g7b"><a href="/recettes/legumes/poivrons-farcis-au-riz-raisins-secs-et-feta-17671"><source srcset="https://www.regal.fr/sites/art-de-vivre/files/styles/recipe_teaser/public/r95-poivrons-farcis-riz-raisins-feta_ss.jpg?itok=sanh9g7b" media="false">
          <img typeof="foaf:Image" src="https://i-reg.unimedias.fr/sites/art-de-vivre/files/styles/recipe_teaser/public/r95-poivrons-farcis-riz-raisins-feta_ss.jpg?auto=compress%2Cformat&amp;crop=faces%2Cedges&amp;cs=srgb&amp;fit=crop&amp;h=268&amp;w=210" width="210" height="268" alt="Poivrons farcis au riz, raisins secs et feta" title="Poivrons farcis au riz, raisins secs et feta"></a><span class="credit">Crédit Photo : Thys / Photocuisine</span></div>
            </div>
</div> </div><h2 class="node-title" itemprop="headline"><a href="/recettes/legumes/poivrons-farcis-au-riz-raisins-secs-et-feta-17671" class="node-url">Poivrons farcis au riz, raisins secs et feta</a></h2><div class="field field-name-field-recipe-total field-type-number-integer field-label-inline clearfix">
        <div class="field-label">Total :&nbsp;</div>
        <div class="field-items">
                <div class="field-item even">80 min</div>
            </div>
</div> <span rel="schema:url" resource="/recettes/legumes/poivrons-farcis-au-riz-raisins-secs-et-feta-17671" class="rdf-meta element-hidden"></span><span property="schema:name" content="Poivrons farcis au riz, raisins secs et feta" class="rdf-meta element-hidden"></span>        <span class="clearfix"></span>
    </div>
</article>
  </div>
  <div class="views-row views-row-4 views-row-even">
    <article id="node-17724" class="node node-recipe node-recipe_teaser node-teaser clearfix" about="/recettes/desserts/peche-de-vigne-pochee-au-sirop-de-verveine-17724" typeof="schema:Recipe">
    <div class="content">
                <div class="required-fields group-image field-group-html-element"><div class="field field-name-field-images field-type-image field-label-hidden">
        <div class="field-items">
                <div class="field-item even" rel="schema:image" resource="https://www.regal.fr/sites/art-de-vivre/files/styles/recipe_teaser/public/r96-peche-vigne-pochee-sirop-verveine_ss.jpg?itok=zvwakzy7"><a href="/recettes/desserts/peche-de-vigne-pochee-au-sirop-de-verveine-17724"><source srcset="https://www.regal.fr/sites/art-de-vivre/files/styles/recipe_teaser/public/r96-peche-vigne-pochee-sirop-verveine_ss.jpg?itok=zvwakzy7" media="false">
          <img typeof="foaf:Image" src="https://i-reg.unimedias.fr/sites/art-de-vivre/files/styles/recipe_teaser/public/r96-peche-vigne-pochee-sirop-verveine_ss.jpg?auto=compress%2Cformat&amp;crop=faces%2Cedges&amp;cs=srgb&amp;fit=crop&amp;h=268&amp;w=210" width="210" height="268" alt="Pêche de vigne pochée au sirop de verveine" title="Pêche de vigne pochée au sirop de verveine"></a><span class="credit">Crédit Photo : Ploton / Photocuisine</span></div>
            </div>
</div> </div><h2 class="node-title" itemprop="headline"><a href="/recettes/desserts/peche-de-vigne-pochee-au-sirop-de-verveine-17724" class="node-url">Pêche de vigne pochée au sirop de verveine</a></h2><div class="field field-name-field-recipe-total field-type-number-integer field-label-inline clearfix">
        <div class="field-label">Total :&nbsp;</div>
        <div class="field-items">
                <div class="field-item even">130 min</div>
            </div>
</div> <span rel="schema:url" resource="/recettes/desserts/peche-de-vigne-pochee-au-sirop-de-verveine-17724" class="rdf-meta element-hidden"></span><span property="schema:name" content="Pêche de vigne pochée au sirop de verveine" class="rdf-meta element-hidden"></span>        <span class="clearfix"></span>
    </div>
</article>
  </div>
  <div class="views-row views-row-5 views-row-odd">
    <article id="node-17670" class="node node-recipe node-recipe_teaser node-teaser clearfix" about="/recettes/plats/pilaf-de-riz-noir-aux-courgettes-poivron-vert-fenouil-et-pistaches-17670" typeof="schema:Recipe">
    <div class="content">
                <div class="required-fields group-image field-group-html-element"><div class="field field-name-field-images field-type-image field-label-hidden">
        <div class="field-items">
                <div class="field-item even" rel="schema:image" resource="https://www.regal.fr/sites/art-de-vivre/files/styles/recipe_teaser/public/r95-riz-noir-pilaf-courgette-poivron-fenouil-pistaches_ss.jpg?itok=CrpVk3gW"><a href="/recettes/plats/pilaf-de-riz-noir-aux-courgettes-poivron-vert-fenouil-et-pistaches-17670"><source srcset="https://www.regal.fr/sites/art-de-vivre/files/styles/recipe_teaser/public/r95-riz-noir-pilaf-courgette-poivron-fenouil-pistaches_ss.jpg?itok=CrpVk3gW" media="false">
          <img typeof="foaf:Image" src="https://i-reg.unimedias.fr/sites/art-de-vivre/files/styles/recipe_teaser/public/r95-riz-noir-pilaf-courgette-poivron-fenouil-pistaches_ss.jpg?auto=compress%2Cformat&amp;crop=faces%2Cedges&amp;cs=srgb&amp;fit=crop&amp;h=268&amp;w=210" width="210" height="268" alt="Pilaf de riz noir aux courgettes, poivron vert, fenouil et pistaches" title="Pilaf de riz noir aux courgettes, poivron vert, fenouil et pistaches"></a><span class="credit">Crédit Photo : Carnet / Photocuisine</span></div>
            </div>
</div> </div><h2 class="node-title" itemprop="headline"><a href="/recettes/plats/pilaf-de-riz-noir-aux-courgettes-poivron-vert-fenouil-et-pistaches-17670" class="node-url">Pilaf de riz noir aux courgettes, poivron vert, fenouil et pistaches</a></h2><div class="field field-name-field-recipe-total field-type-number-integer field-label-inline clearfix">
        <div class="field-label">Total :&nbsp;</div>
        <div class="field-items">
                <div class="field-item even">70 min</div>
            </div>
</div> <span rel="schema:url" resource="/recettes/plats/pilaf-de-riz-noir-aux-courgettes-poivron-vert-fenouil-et-pistaches-17670" class="rdf-meta element-hidden"></span><span property="schema:name" content="Pilaf de riz noir aux courgettes, poivron vert, fenouil et pistaches" class="rdf-meta element-hidden"></span>        <span class="clearfix"></span>
    </div>
</article>
  </div>
  <div class="views-row views-row-6 views-row-even">
    <article id="node-17723" class="node node-recipe node-recipe_teaser node-teaser node-regal-life clearfix" about="/recettes/plats/papillote-de-cabillaud-tomates-et-olives-17723" typeof="schema:Recipe">
    <div class="content">
                <div class="required-fields group-image field-group-html-element"><div class="field field-name-field-images field-type-image field-label-hidden">
        <div class="field-items">
                <div class="field-item even" rel="schema:image" resource="https://www.regal.fr/sites/art-de-vivre/files/styles/recipe_teaser/public/r96-papillote-cabillaud-tomates-olives.jpg?itok=A0Bc7Lrs"><a href="/recettes/plats/papillote-de-cabillaud-tomates-et-olives-17723"><source srcset="https://www.regal.fr/sites/art-de-vivre/files/styles/recipe_teaser/public/r96-papillote-cabillaud-tomates-olives.jpg?itok=A0Bc7Lrs" media="false">
          <img typeof="foaf:Image" src="https://i-reg.unimedias.fr/sites/art-de-vivre/files/styles/recipe_teaser/public/r96-papillote-cabillaud-tomates-olives.jpg?auto=compress%2Cformat&amp;crop=faces%2Cedges&amp;cs=srgb&amp;fit=crop&amp;h=268&amp;w=210" width="210" height="268" alt="Papillote de cabillaud, tomates et olives" title="Papillote de cabillaud, tomates et olives"></a><span class="credit">Crédit Photo : Magali Ancenay</span></div>
            </div>
</div> </div><h2 class="node-title" itemprop="headline"><a href="/recettes/plats/papillote-de-cabillaud-tomates-et-olives-17723" class="node-url">Papillote de cabillaud, tomates et olives</a></h2><div class="field field-name-field-recipe-total field-type-number-integer field-label-inline clearfix">
        <div class="field-label">Total :&nbsp;</div>
        <div class="field-items">
                <div class="field-item even">35 min</div>
            </div>
</div> <span rel="schema:url" resource="/recettes/plats/papillote-de-cabillaud-tomates-et-olives-17723" class="rdf-meta element-hidden"></span><span property="schema:name" content="Papillote de cabillaud, tomates et olives" class="rdf-meta element-hidden"></span>        <span class="clearfix"></span>
    </div>
</article>
  </div>
  <div class="views-row views-row-7 views-row-odd">
    <article id="node-17669" class="node node-recipe node-recipe_teaser node-teaser clearfix" about="/recettes/plats/magrets-de-canard-aux-abricots-et-au-romarin-17669" typeof="schema:Recipe">
    <div class="content">
                <div class="required-fields group-image field-group-html-element"><div class="field field-name-field-images field-type-image field-label-hidden">
        <div class="field-items">
                <div class="field-item even" rel="schema:image" resource="https://www.regal.fr/sites/art-de-vivre/files/styles/recipe_teaser/public/r95-magrets-canard-abricots-romarin_ss.jpg?itok=jBpHV81v"><a href="/recettes/plats/magrets-de-canard-aux-abricots-et-au-romarin-17669"><source srcset="https://www.regal.fr/sites/art-de-vivre/files/styles/recipe_teaser/public/r95-magrets-canard-abricots-romarin_ss.jpg?itok=jBpHV81v" media="false">
          <img typeof="foaf:Image" src="https://i-reg.unimedias.fr/sites/art-de-vivre/files/styles/recipe_teaser/public/r95-magrets-canard-abricots-romarin_ss.jpg?auto=compress%2Cformat&amp;crop=faces%2Cedges&amp;cs=srgb&amp;fit=crop&amp;h=268&amp;w=210" width="210" height="268" alt="Magrets de canard aux abricots et au romarin" title="Magrets de canard aux abricots et au romarin"></a><span class="credit">Crédit Photo : Czerw / Photocuisine</span></div>
            </div>
</div> </div><h2 class="node-title" itemprop="headline"><a href="/recettes/plats/magrets-de-canard-aux-abricots-et-au-romarin-17669" class="node-url">Magrets de canard aux abricots et au romarin </a></h2><div class="field field-name-field-recipe-total field-type-number-integer field-label-inline clearfix">
        <div class="field-label">Total :&nbsp;</div>
        <div class="field-items">
                <div class="field-item even">45 min</div>
            </div>
</div> <span rel="schema:url" resource="/recettes/plats/magrets-de-canard-aux-abricots-et-au-romarin-17669" class="rdf-meta element-hidden"></span><span property="schema:name" content="Magrets de canard aux abricots et au romarin " class="rdf-meta element-hidden"></span>        <span class="clearfix"></span>
    </div>
</article>
  </div>
  <div class="views-row views-row-8 views-row-even">
    <article id="node-17668" class="node node-recipe node-recipe_teaser node-teaser clearfix" about="/recettes/entrees/carpaccio-de-betteraves-noisettes-et-valencay-17668" typeof="schema:Recipe">
    <div class="content">
                <div class="required-fields group-image field-group-html-element"><div class="field field-name-field-images field-type-image field-label-hidden">
        <div class="field-items">
                <div class="field-item even" rel="schema:image" resource="https://www.regal.fr/sites/art-de-vivre/files/styles/recipe_teaser/public/r95-carpaccio-betteraves-fromage-chevre-valencay-noisettes_ss.jpg?itok=4yDnvjIP"><a href="/recettes/entrees/carpaccio-de-betteraves-noisettes-et-valencay-17668"><source srcset="https://www.regal.fr/sites/art-de-vivre/files/styles/recipe_teaser/public/r95-carpaccio-betteraves-fromage-chevre-valencay-noisettes_ss.jpg?itok=4yDnvjIP" media="false">
          <img typeof="foaf:Image" src="https://i-reg.unimedias.fr/sites/art-de-vivre/files/styles/recipe_teaser/public/r95-carpaccio-betteraves-fromage-chevre-valencay-noisettes_ss.jpg?auto=compress%2Cformat&amp;crop=faces%2Cedges&amp;cs=srgb&amp;fit=crop&amp;h=268&amp;w=210" width="210" height="268" alt="Carpaccio de betteraves, noisettes et valençay" title="Carpaccio de betteraves, noisettes et valençay"></a><span class="credit">Crédit Photo : Photocuisine / Stockfood</span></div>
            </div>
</div> </div><h2 class="node-title" itemprop="headline"><a href="/recettes/entrees/carpaccio-de-betteraves-noisettes-et-valencay-17668" class="node-url">Carpaccio de betteraves, noisettes et valencay</a></h2><div class="field field-name-field-recipe-total field-type-number-integer field-label-inline clearfix">
        <div class="field-label">Total :&nbsp;</div>
        <div class="field-items">
                <div class="field-item even">15 min</div>
            </div>
</div> <span rel="schema:url" resource="/recettes/entrees/carpaccio-de-betteraves-noisettes-et-valencay-17668" class="rdf-meta element-hidden"></span><span property="schema:name" content="Carpaccio de betteraves, noisettes et valencay" class="rdf-meta element-hidden"></span>        <span class="clearfix"></span>
    </div>
</article>
  </div>
  <div class="views-row views-row-9 views-row-odd">
    <article id="node-17721" class="node node-recipe node-recipe_teaser node-teaser clearfix" about="/recettes/plats/paella-aux-crustaces-17721" typeof="schema:Recipe">
    <div class="content">
                <div class="required-fields group-image field-group-html-element"><div class="field field-name-field-images field-type-image field-label-hidden">
        <div class="field-items">
                <div class="field-item even" rel="schema:image" resource="https://www.regal.fr/sites/art-de-vivre/files/styles/recipe_teaser/public/hs19-paella-crustaces-fruits-mer_ss.jpg?itok=8OYwH7-_"><a href="/recettes/plats/paella-aux-crustaces-17721"><source srcset="https://www.regal.fr/sites/art-de-vivre/files/styles/recipe_teaser/public/hs19-paella-crustaces-fruits-mer_ss.jpg?itok=8OYwH7-_" media="false">
          <img typeof="foaf:Image" src="https://i-reg.unimedias.fr/sites/art-de-vivre/files/styles/recipe_teaser/public/hs19-paella-crustaces-fruits-mer_ss.jpg?auto=compress%2Cformat&amp;crop=faces%2Cedges&amp;cs=srgb&amp;fit=crop&amp;h=268&amp;w=210" width="210" height="268" alt="Paella aux crustacés" title="Paella aux crustacés"></a><span class="credit">Crédit Photo : Lawton / Photocuisine</span></div>
            </div>
</div> </div><h2 class="node-title" itemprop="headline"><a href="/recettes/plats/paella-aux-crustaces-17721" class="node-url">Paella aux crustacés</a></h2><div class="field field-name-field-recipe-total field-type-number-integer field-label-inline clearfix">
        <div class="field-label">Total :&nbsp;</div>
        <div class="field-items">
                <div class="field-item even">100 min</div>
            </div>
</div> <span rel="schema:url" resource="/recettes/plats/paella-aux-crustaces-17721" class="rdf-meta element-hidden"></span><span property="schema:name" content="Paella aux crustacés" class="rdf-meta element-hidden"></span>        <span class="clearfix"></span>
    </div>
</article>
  </div>
  <div class="views-row views-row-10 views-row-even">
    <article id="node-17665" class="node node-recipe node-recipe_teaser node-teaser clearfix" about="/recettes/plats/pizza-aux-cepes-17665" typeof="schema:Recipe">
    <div class="content">
                <div class="required-fields group-image field-group-html-element"><div class="field field-name-field-images field-type-image field-label-hidden">
        <div class="field-items">
                <div class="field-item even" rel="schema:image" resource="https://www.regal.fr/sites/art-de-vivre/files/styles/recipe_teaser/public/Import/R94-pizza-champignons-cepes_ss.jpg?itok=qco9bn3z"><a href="/recettes/plats/pizza-aux-cepes-17665"><source srcset="https://www.regal.fr/sites/art-de-vivre/files/styles/recipe_teaser/public/Import/R94-pizza-champignons-cepes_ss.jpg?itok=qco9bn3z" media="false">
          <img typeof="foaf:Image" src="https://i-reg.unimedias.fr/sites/art-de-vivre/files/styles/recipe_teaser/public/Import/R94-pizza-champignons-cepes_ss.jpg?auto=compress%2Cformat&amp;crop=faces%2Cedges&amp;cs=srgb&amp;fit=crop&amp;h=268&amp;w=210" width="210" height="268" alt="Pizza aux cèpes" title="Pizza aux cèpes"></a><span class="credit">Crédit Photo : Studio Kuchnia / Photocuisine</span></div>
            </div>
</div> </div><h2 class="node-title" itemprop="headline"><a href="/recettes/plats/pizza-aux-cepes-17665" class="node-url">Pizza aux cèpes</a></h2><div class="field field-name-field-recipe-total field-type-number-integer field-label-inline clearfix">
        <div class="field-label">Total :&nbsp;</div>
        <div class="field-items">
                <div class="field-item even">50 min</div>
            </div>
</div> <span rel="schema:url" resource="/recettes/plats/pizza-aux-cepes-17665" class="rdf-meta element-hidden"></span><span property="schema:name" content="Pizza aux cèpes" class="rdf-meta element-hidden"></span>        <span class="clearfix"></span>
    </div>
</article>
  </div>
  <div class="views-row views-row-11 views-row-odd">
    <article id="node-17720" class="node node-recipe node-recipe_teaser node-teaser node-regal-life clearfix" about="/recettes/poissons-crustaces-et-fruits-de-mer/langoustines-roties-aux-herbes-et-au-citron-17720" typeof="schema:Recipe">
    <div class="content">
                <div class="required-fields group-image field-group-html-element"><div class="field field-name-field-images field-type-image field-label-hidden">
        <div class="field-items">
                <div class="field-item even" rel="schema:image" resource="https://www.regal.fr/sites/art-de-vivre/files/styles/recipe_teaser/public/hs19-langoustines-herbes-citron_ss.jpg?itok=GhrWatxx"><a href="/recettes/poissons-crustaces-et-fruits-de-mer/langoustines-roties-aux-herbes-et-au-citron-17720"><source srcset="https://www.regal.fr/sites/art-de-vivre/files/styles/recipe_teaser/public/hs19-langoustines-herbes-citron_ss.jpg?itok=GhrWatxx" media="false">
          <img typeof="foaf:Image" src="https://i-reg.unimedias.fr/sites/art-de-vivre/files/styles/recipe_teaser/public/hs19-langoustines-herbes-citron_ss.jpg?auto=compress%2Cformat&amp;crop=faces%2Cedges&amp;cs=srgb&amp;fit=crop&amp;h=268&amp;w=210" width="210" height="268" alt="Langoustines rôties aux herbes et au citron" title="Langoustines rôties aux herbes et au citron"></a><span class="credit">Crédit Photo : Swalens / Photocuisine</span></div>
            </div>
</div> </div><h2 class="node-title" itemprop="headline"><a href="/recettes/poissons-crustaces-et-fruits-de-mer/langoustines-roties-aux-herbes-et-au-citron-17720" class="node-url">Langoustines rôties aux herbes et au citron</a></h2><div class="field field-name-field-recipe-total field-type-number-integer field-label-inline clearfix">
        <div class="field-label">Total :&nbsp;</div>
        <div class="field-items">
                <div class="field-item even">95 min</div>
            </div>
</div> <span rel="schema:url" resource="/recettes/poissons-crustaces-et-fruits-de-mer/langoustines-roties-aux-herbes-et-au-citron-17720" class="rdf-meta element-hidden"></span><span property="schema:name" content="Langoustines rôties aux herbes et au citron" class="rdf-meta element-hidden"></span>        <span class="clearfix"></span>
    </div>
</article>
  </div>
  <div class="views-row views-row-12 views-row-even">
    <article id="node-17660" class="node node-recipe node-recipe_teaser node-teaser clearfix" about="/recettes/plats/le-grand-aioli-17660" typeof="schema:Recipe">
    <div class="content">
                <div class="required-fields group-image field-group-html-element"><div class="field field-name-field-images field-type-image field-label-hidden">
        <div class="field-items">
                <div class="field-item even" rel="schema:image" resource="https://www.regal.fr/sites/art-de-vivre/files/styles/recipe_teaser/public/Import/R90-aioli-recette-provence_jbh.jpg?itok=fFTDTiYv"><a href="/recettes/plats/le-grand-aioli-17660"><source srcset="https://www.regal.fr/sites/art-de-vivre/files/styles/recipe_teaser/public/Import/R90-aioli-recette-provence_jbh.jpg?itok=fFTDTiYv" media="false">
          <img typeof="foaf:Image" src="https://i-reg.unimedias.fr/sites/art-de-vivre/files/styles/recipe_teaser/public/Import/R90-aioli-recette-provence_jbh.jpg?auto=compress%2Cformat&amp;crop=faces%2Cedges&amp;cs=srgb&amp;fit=crop&amp;h=268&amp;w=210" width="210" height="268" alt="Aïoli traditionnel" title="Aïoli traditionnel"></a><span class="credit">Crédit Photo : Jean Blaise Hall</span></div>
            </div>
</div> </div><h2 class="node-title" itemprop="headline"><a href="/recettes/plats/le-grand-aioli-17660" class="node-url">Le grand aïoli</a></h2><div class="field field-name-field-recipe-total field-type-number-integer field-label-inline clearfix">
        <div class="field-label">Total :&nbsp;</div>
        <div class="field-items">
                <div class="field-item even">105 min</div>
            </div>
</div> <span rel="schema:url" resource="/recettes/plats/le-grand-aioli-17660" class="rdf-meta element-hidden"></span><span property="schema:name" content="Le grand aïoli" class="rdf-meta element-hidden"></span>        <span class="clearfix"></span>
    </div>
</article>
  </div>
  <div class="views-row views-row-13 views-row-odd">
    <article id="node-17719" class="node node-recipe node-recipe_teaser node-teaser clearfix" about="/recettes/plats/gratin-daubergines-17719" typeof="schema:Recipe">
    <div class="content">
                <div class="required-fields group-image field-group-html-element"><div class="field field-name-field-images field-type-image field-label-hidden">
        <div class="field-items">
                <div class="field-item even" rel="schema:image" resource="https://www.regal.fr/sites/art-de-vivre/files/styles/recipe_teaser/public/hs19-gratin-aubergines_ss.jpg?itok=fPdRNLsP"><a href="/recettes/plats/gratin-daubergines-17719"><source srcset="https://www.regal.fr/sites/art-de-vivre/files/styles/recipe_teaser/public/hs19-gratin-aubergines_ss.jpg?itok=fPdRNLsP" media="false">
          <img typeof="foaf:Image" src="https://i-reg.unimedias.fr/sites/art-de-vivre/files/styles/recipe_teaser/public/hs19-gratin-aubergines_ss.jpg?auto=compress%2Cformat&amp;crop=faces%2Cedges&amp;cs=srgb&amp;fit=crop&amp;h=268&amp;w=210" width="210" height="268" alt="Gratin d'aubergines" title="Gratin d'aubergines"></a><span class="credit">Crédit Photo : Thys / Photocuisine</span></div>
            </div>
</div> </div><h2 class="node-title" itemprop="headline"><a href="/recettes/plats/gratin-daubergines-17719" class="node-url">Gratin d'aubergines</a></h2><div class="field field-name-field-recipe-total field-type-number-integer field-label-inline clearfix">
        <div class="field-label">Total :&nbsp;</div>
        <div class="field-items">
                <div class="field-item even">110 min</div>
            </div>
</div> <span rel="schema:url" resource="/recettes/plats/gratin-daubergines-17719" class="rdf-meta element-hidden"></span><span property="schema:name" content="Gratin d'aubergines" class="rdf-meta element-hidden"></span>        <span class="clearfix"></span>
    </div>
</article>
  </div>
  <div class="views-row views-row-14 views-row-even">
    <article id="node-17662" class="node node-recipe node-recipe_teaser node-teaser clearfix" about="/recettes/plats/tarte-champignons-persillade-et-bleu-dauvergne-17662" typeof="schema:Recipe">
    <div class="content">
                <div class="required-fields group-image field-group-html-element"><div class="field field-name-field-images field-type-image field-label-hidden">
        <div class="field-items">
                <div class="field-item even" rel="schema:image" resource="https://www.regal.fr/sites/art-de-vivre/files/styles/recipe_teaser/public/Import/R94-tarte-champignons-bleu-auvergne-persillade_ss.jpg?itok=-i2E6Jcm"><a href="/recettes/plats/tarte-champignons-persillade-et-bleu-dauvergne-17662"><source srcset="https://www.regal.fr/sites/art-de-vivre/files/styles/recipe_teaser/public/Import/R94-tarte-champignons-bleu-auvergne-persillade_ss.jpg?itok=-i2E6Jcm" media="false">
          <img typeof="foaf:Image" src="https://i-reg.unimedias.fr/sites/art-de-vivre/files/styles/recipe_teaser/public/Import/R94-tarte-champignons-bleu-auvergne-persillade_ss.jpg?auto=compress%2Cformat&amp;crop=faces%2Cedges&amp;cs=srgb&amp;fit=crop&amp;h=268&amp;w=210" width="210" height="268" alt="Tarte champignons, persillade et bleu d'Auvergne" title="Tarte champignons, persillade et bleu d'Auvergne"></a><span class="credit">Crédit Photo : Kerouèdan / Photocuisine</span></div>
            </div>
</div> </div><h2 class="node-title" itemprop="headline"><a href="/recettes/plats/tarte-champignons-persillade-et-bleu-dauvergne-17662" class="node-url">Tarte champignons, persillade et bleu d'Auvergne</a></h2><div class="field field-name-field-recipe-total field-type-number-integer field-label-inline clearfix">
        <div class="field-label">Total :&nbsp;</div>
        <div class="field-items">
                <div class="field-item even">60 min</div>
            </div>
</div> <span rel="schema:url" resource="/recettes/plats/tarte-champignons-persillade-et-bleu-dauvergne-17662" class="rdf-meta element-hidden"></span><span property="schema:name" content="Tarte champignons, persillade et bleu d'Auvergne" class="rdf-meta element-hidden"></span>        <span class="clearfix"></span>
    </div>
</article>
  </div>
  <div class="views-row views-row-15 views-row-odd">
    <article id="node-17743" class="node node-recipe node-recipe_teaser node-teaser clearfix" about="/recettes/plats/tarte-rustique-aux-tomates-anciennes-17743" typeof="schema:Recipe">
    <div class="content">
                <div class="required-fields group-image field-group-html-element"><div class="field field-name-field-images field-type-image field-label-hidden">
        <div class="field-items">
                <div class="field-item even" rel="schema:image" resource="https://www.regal.fr/sites/art-de-vivre/files/styles/recipe_teaser/public/r96-tarte-rustique-tomates-anciennes_ss.jpg?itok=iIdGw_vr"><a href="/recettes/plats/tarte-rustique-aux-tomates-anciennes-17743"><source srcset="https://www.regal.fr/sites/art-de-vivre/files/styles/recipe_teaser/public/r96-tarte-rustique-tomates-anciennes_ss.jpg?itok=iIdGw_vr" media="false">
          <img typeof="foaf:Image" src="https://i-reg.unimedias.fr/sites/art-de-vivre/files/styles/recipe_teaser/public/r96-tarte-rustique-tomates-anciennes_ss.jpg?auto=compress%2Cformat&amp;crop=faces%2Cedges&amp;cs=srgb&amp;fit=crop&amp;h=268&amp;w=210" width="210" height="268" alt="Tarte rustique aux tomates anciennes" title="Tarte rustique aux tomates anciennes"></a><span class="credit">Crédit Photo : Leduc / Photocuisine</span></div>
            </div>
</div> </div><h2 class="node-title" itemprop="headline"><a href="/recettes/plats/tarte-rustique-aux-tomates-anciennes-17743" class="node-url">Tarte rustique aux tomates anciennes</a></h2><div class="field field-name-field-recipe-total field-type-number-integer field-label-inline clearfix">
        <div class="field-label">Total :&nbsp;</div>
        <div class="field-items">
                <div class="field-item even">95 min</div>
            </div>
</div> <span rel="schema:url" resource="/recettes/plats/tarte-rustique-aux-tomates-anciennes-17743" class="rdf-meta element-hidden"></span><span property="schema:name" content="Tarte rustique aux tomates anciennes" class="rdf-meta element-hidden"></span>        <span class="clearfix"></span>
    </div>
</article>
  </div>
  <div class="views-row views-row-16 views-row-even views-row-last">
    <article id="node-17718" class="node node-recipe node-recipe_teaser node-teaser clearfix" about="/recettes/desserts/esquimaux-glaces-cremeux-a-la-peche-et-au-yaourt-17718" typeof="schema:Recipe">
    <div class="content">
                <div class="required-fields group-image field-group-html-element"><div class="field field-name-field-images field-type-image field-label-hidden">
        <div class="field-items">
                <div class="field-item even" rel="schema:image" resource="https://www.regal.fr/sites/art-de-vivre/files/styles/recipe_teaser/public/hs19-esquimaux-peche-yaourt_ss.jpg?itok=XAJwMTM_"><a href="/recettes/desserts/esquimaux-glaces-cremeux-a-la-peche-et-au-yaourt-17718"><source srcset="https://www.regal.fr/sites/art-de-vivre/files/styles/recipe_teaser/public/hs19-esquimaux-peche-yaourt_ss.jpg?itok=XAJwMTM_" media="false">
          <img typeof="foaf:Image" src="https://i-reg.unimedias.fr/sites/art-de-vivre/files/styles/recipe_teaser/public/hs19-esquimaux-peche-yaourt_ss.jpg?auto=compress%2Cformat&amp;crop=faces%2Cedges&amp;cs=srgb&amp;fit=crop&amp;h=268&amp;w=210" width="210" height="268" alt="Esquimaux glacés crémeux à la pêche et au yaourt" title="Esquimaux glacés crémeux à la pêche et au yaourt"></a><span class="credit">Crédit Photo : Photocuisine / Foodcollection</span></div>
            </div>
</div> </div><h2 class="node-title" itemprop="headline"><a href="/recettes/desserts/esquimaux-glaces-cremeux-a-la-peche-et-au-yaourt-17718" class="node-url">Esquimaux glacés crémeux à la pêche et au yaourt</a></h2><div class="field field-name-field-recipe-total field-type-number-integer field-label-inline clearfix">
        <div class="field-label">Total :&nbsp;</div>
        <div class="field-items">
                <div class="field-item even">315 min</div>
            </div>
</div> <span rel="schema:url" resource="/recettes/desserts/esquimaux-glaces-cremeux-a-la-peche-et-au-yaourt-17718" class="rdf-meta element-hidden"></span><span property="schema:name" content="Esquimaux glacés crémeux à la pêche et au yaourt" class="rdf-meta element-hidden"></span>        <span class="clearfix"></span>
    </div>
</article>
  </div>
    </div>



            </div>
        </div>
    </div>
</div>
