<div class="container">
    <div class="mikuia-page-padding">
        <div class="row animation-fade-in-down">
            <div class="col-md-12 mikuia-page-card">

<div 
{{!-- style="float: ;clear:right;" --}}
style="position:initial"
>
    <h1>Recette de ouf</h1>
</div>

<section class="recipe_img">
      <img 
      src="https://img.cuisineaz.com/660x660/2020-09-10/i155030-tian-de-legumes.jpeg" 
      height="200"
      >

   </section>

   <br>

{{!-- <div id="maDivGauche" style="float:left"></div>
<div id="maDivDroite" style="float:right;clear:right;"></div> --}}

<div class="content-scroll">
   <section class="borderSection ingredients">
      <header class="borderSection_header">
         <h2 class="borderSection_title">Ingrédients : <span id="ContentPlaceHolder_LblRecetteNombre">4 personnes</span></h2>
      </header>
      <ul class="txt-dark-gray">
         <li><span>300g de tomates concassées</span></li>
         <li><span>1 oignon épluché et ciselé</span></li>
         <li><span>1 gousse d’ail épluchée et dégermée</span></li>
         <li><span>2 aubergines chinoises (longues) coupées en rondelles de 3mm </span></li>
         <li><span>2 courgettes longues coupées en rondelles de 3 mm</span></li>
         <li><span>2 courgettes jaunes longues coupées en rondelles de 3 mm</span></li>
         <li><span>Huile d’olive</span></li>
         <li><span>Feuilles de thym et feuilles de basilic</span></li>
         <li><span>Sel fin et fleur de sel et poivre du moulin</span></li>
      </ul>
    <h2 class="borderSection_title">Les ustensiles : </h2>
      <ul>
         {{!-- <li class="ingredient_step"><span>Les ustensiles :</span></li> --}}
         <li><span>1 saladier + 1 spatule + 1 couteau d’office</span></li>
         <li><span>1 poche sans douille + 1 plat pouvant aller au four + 1 cuillère à soupe</span></li>
      </ul>
   </section>
   <section class="borderSection instructions">
      <header class="borderSection_header">
         <h2 class="borderSection_title">Préparation :</h2>
         <ul class="borderSection_toolbar icon-prepa">
            <li id="ContentPlaceHolder_trPrepa">
               Préparation
               <span id="ContentPlaceHolder_LblRecetteTempsPrepa">15 min</span>
            </li>
            <li id="ContentPlaceHolder_trCuisson">
               Cuisson
               <span id="ContentPlaceHolder_LblRecetteTempsCuisson">20 min</span>
            </li>
         </ul>
      </header>
      <span id="ContentPlaceHolder_video"></span>
      <ul data-onscroll="">
         <li class="">
            {{!-- <h3>1.</h3> --}}
            <p>Préchauffez le four à 210°C. Dans une sauteuse chaude, versez un trait d’huile d’olive, ajoutez l’oignon, laissez-le suer 1 minute à feu doux, ajoutez l’ail puis incorporez les tomates et laissez-les cuire 15 minutes. Au terme de la cuisson, versez la préparation dans un plat rond pouvant aller au four.</p>
         </li>
         <li class="">
            {{!-- <h3>2.</h3> --}}
            <p>Disposez les rondelles de légumes les une derrière les autres : une courgette jaune, une aubergine, une courgette verte, en renouvelant l’opération et en faisant un escargot dans le moule. Ensuite versez un trait d’huile d’olive sur l’ensemble des légumes, assaisonnez de sel et de thym puis enfournez 25 à 30 minutes. </p>
            <div id="dynInfeed1" class="dynInFeed">
               <script type="text/javascript">
                  pbjs.que.push(function(){ if (typeof(prebid) !== 'undefined' && typeof(prebidFn.defineDynamicAdslot) !== 'undefined') prebidFn.defineDynamicAdslot('dynInfeed', 1); } );
               </script>
            </div>
         </li>
         <li class="onscroll_on">
            {{!-- <h3>3.</h3> --}}
            <p>Au terme de la cuisson, disposez des feuilles de basilic et servez. Vous pouvez également intercaler dans les légumes du fromage ou des tranches de bacon, et parsemer les légumes de parmesan 5 minutes avant la fin de la cuisson.</p>
         </li>
      </ul>
   </section>
</div>


            </div>
        </div>
    </div>
</div>
